body {
    margin: 0;
    background-color: #ece5dd;
    font-family: "Segoe UI";
}

.main-chat {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #075e54;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.chat-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-image: url("https://i.imgur.com/2xRZ5KP.png");
    background-size: cover;
}

.bubble-wrapper {
    margin: 8px 0;
    display: flex;
}

.bubble-wrapper.right { justify-content: flex-end; }
.bubble-wrapper.left { justify-content: flex-start; }

.bubble {
    max-width: 70%;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    color: black;
}

.bubble.user { background: #dcf8c6; }
.bubble.other { background: #ffffff; }
/* Bubble untuk spam */
.bubble.spam { background: #ff6666; border: 1px solid red; }

.time {
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.7;
}

.footer {
    display: flex;
    padding: 10px;
    background: #f0f0f0;
}

.footer input {
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #bbb;
    outline: none;
}

.footer button {
    margin-left: 10px;
    padding: 12px 18px;
    border-radius: 50%;
    background: #25d366;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
